*{
    padding: 0;
    margin: 0;
}

body{
    background-size: cover;
}

header{
    background-color: black;
    height: 5em;
    z-index: 1000;
}

img{
    margin-left: 3%;
    margin-top: 14px;
}

.head-tag{
    float: right;
    margin-top: 33px;
    margin-right: 55px;
}

.head-tag a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px;
    margin-right: 8px;
}

.head-tag a:hover{
    background-color: teal;
    color: black;
    transition: 0.5s ease-in-out;
}


/* form */
.login{
    float: right;
    border: 2px solid red;
    background-color: beige;
    height: 15em;
    margin-top: 8%;
    margin-right: 45%;
    padding: 30px;
}

.login h2{
    text-align: center;
}

.login input{
    height: 1.5em;
}

.login #login-button{
    width: 100%;
    height: 1.8em;
    color: white;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}
/* side-bar */
.sidebar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 100px;
}

.sidebar li{
    list-style: square;
    margin-bottom: 5px;
}

/* p-box */

.container{
    /* border: 2px solid black; */
    margin-top: 7%;
    margin-left: 3%;
}
.p-box{
    border: 3px solid white;
    width: 22%;
    float: left;
    margin-left: 10px;
    height: 17em;
    padding: 5px;
    background-color: #cccccc;
}

.p-box h3{
    text-align: center;
    text-transform: uppercase;
}

.p-box p{
    line-height: 1.25em;
    text-align: justify;
}

.p-box a{
    text-decoration: none;
    color: red;
}

/* footer */
footer{
    background-color: black;
    color: white;
    height: 1.5em;
    margin-top: 33%;
}

footer h3{
    text-align: center;
}